.sidebar {
    background-color: gold;
  }
  .sidebarItem {
    position: relative;
    display: block;
    padding: 1.2rem;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%;
    top: 0;
    height: auto;
    width: auto;
    min-height: 100px;
    min-width: 16rem;
    background-color: coral;
    border-radius: 5px;
    padding: 1rem;
  }
  
  