* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  > a {
    text-decoration: none;
    color: black;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #1a1a1a;
  }
}
.appContainer {
  display: flex;
  height: 100vh;
  .sidebar {
    height: 100vh;
    width: 20vw;
    position: fixed;
    top: 16vh;
    left: 0;
    overflow-y: auto;
  }
  .container {
    margin-top: 16vh;
    margin-left: 20vw;
    flex: 1;
    overflow-y: auto;
  }
}
